* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #b1a296;
}

.content-center {
  width: 100%;
  /*Tamanho máximo: se a tela for menor que isso, você usa 100 %*/
  max-width: 300px;
  /* Cálculo Automático das Margens: */
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.content-center .text-center {
  text-align: center;
}

.content-center img {
  width: 50%;
}

.content-center form {
  margin: 20px;
}

.content-center input,
.content-center button {
  width: 100%;
  padding: 10px 5px;
  border: none;
  outline: none;
}

.content-center input {
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: 10px;
}

/* Fica laranja enquanto estamos digitando o email*/
.content-center input:focus {
  border-bottom-color: #7395ae;
}

.content-center button {
  background-color: #7395ae;
  color: #fff;
}

/*pseudo seletor hover
  Fica mais escuro quando passa por cima com o mouse
*/
.content-center button:hover {
  background-color: #557a95;
  cursor: pointer; /* Vira a mãozinha quando passa por cima*/
}

/* A cor muda conforme ele está sendo clicado */
/* Feedback visual */
.content-center button:active {
  background-color: #2c5775;
}

header a {
  color: #666;
  text-decoration: none;
}

header a:visited {
  color: #000;
}

header a:hover {
  text-decoration: underline;
}

header h1 {
  font-size: 2.5em;
  text-align: center;
  margin: 50px auto;
}

footer {
  font-size: 0.8em;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer a:visited {
  color: #557a95;
  text-decoration: none;
  font-weight: bold;
}
