* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.content-center {
  width: 100%;
  /*Tamanho máximo: se a tela for menor que isso, você usa 100 %*/
  max-width: 300px;
  /* Cálculo Automático das Margens: */
  margin: auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 15px;
}

.content-center .text-center {
  text-align: center;
}

/*img é um elemento descendente de content-center*/
.content-center img {
  /*largura é 70% do tamanho reservado para a figura*/
  width: 70%;
}

.content-center form {
  margin: 20px;
}

.content-center input,
.content-center button {
  width: 100%;
  padding: 10px 5px;
  border: none;
  outline: none;
}

.content-center input {
  border-bottom-color: #ccc;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  margin-bottom: 10px;
}

/* Fica laranja enquanto estamos digitando o email*/
.content-center input:focus {
  border-bottom-color: #d07335;
}

.content-center button {
  background-color: #d07335;
  color: #fff;
}

/*pseudo seletor hover
  Fica mais escuro quando passa por cima com o mouse
*/
.content-center button:hover {
  background-color: #b55b28;
  cursor: pointer; /* Vira a mãozinha quando passa por cima*/
}

/* A cor muda conforme ele está sendo clicado */
/* Feedback visual */
.content-center button:active {
  background-color: #c14e0e;
}

header a {
  color: #666;
  text-decoration: none;
}

header a:visited {
  color: #000;
}

header a:hover {
  text-decoration: underline;
}

header a:focus {
  color: red;
}

header a:active {
  color: yellow;
}
